:root { background-attachment: fixed; }
body, html {
    height: 100%;
    font-family: 'Crimson Text', serif;
}
body {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}
.wrapper, .wrapper-content {
    position: relative;
}

.wrapper::before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*height: 200vh;*/
    opacity: 15%;
    background-image: url('/assets/img/1310689.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}
