<!doctype html>
<html lang="en" class="h-100">
<head>
    {% include 'partials/head.html' %}
    <!-- Custom styles for this template -->
    <link href="/assets/css/cover.css" rel="stylesheet">
    <link href="/assets/css/page-background.css" rel="stylesheet">
    {% block title %}
    {% endblock %}
</head>
<body class="d-flex h-100 text-white bg-dark wrapper">
<div class="wrapper-content cover-container- container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'partials/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'partials/footer.html' %}
</div>
</body>
</html>
