{% extends "base-in.html" %}
{% block title %}

{% endblock %}
{% block content %}
    <main class="px-3">
        <h1>By movie lovers.... For movie lovers &#128522</h1>
        <p class="lead">Presenting a wide range of movies; the largest in this world and maybe the next! &#128526</p>
        <p class="lead">Browse and see for yourself. Wonder awaits &#128521</p>
        <p class="lead">
            <a href="{% url 'movies-list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Browse full
                catalogue</a>
        </p>
    </main>
{% endblock %}
