{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    {% include 'partials/head.html' %}
    <!-- Custom styles for this template -->
    <link href="/assets/css/signin.css" rel="stylesheet">
    <link href="/assets/css/page-background.css" rel="stylesheet">
    <title>Signin · alx-movie-app</title>
</head>
<body class="text-center text-white wrapper bg-dark">
<main class="form-signin wrapper-content">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in to access our movies catalog</h1>

        <div class="form-floating text-dark">
            {% render_field form.email class="form-control" placeholder="name@example.com" autofocus="autofocus" autocomplete="off" %}
            <label for="{{ form.email.id_for_label }}">Email address</label>
        </div>
        <div class="form-floating text-dark">
            {% render_field form.password class="form-control" placeholder="Password" autofocus="autofocus" autocomplete="off" %}
            <label for="{{ form.password.id_for_label }}">Password</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember_me" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember my login on this device
            </label>
        </div>
        <button class="mt-5 mb-3 w-100 btn btn-lg btn-danger" type="submit">Sign in</button>
        or <a class="text-white-50" href="{% url 'register' %}">Register</a> for a free account.

        <p class="mt-5 mb-3 text-light"><a class="text-white-50" href="{% url 'index' %}">← Back to Home</a></p>
        <p class="mt-5 mb-3 text-light">&copy; 2023</p>
    </form>
</main>
</body>
</html>
